:root {
  --base-color: #f4f2ef;
  --base-color-secondary: #ebe8e5;
  --dark-color: #ffffff;
  --dark-color-secondary: #f9f8f7;
  --card-color: #ffffff;
  --accent-color: #0077cc;
  --accent-color-secondary: #005999;
  --text-color: #1a1a18;
  --text-color-secondary: #d15c00;
  --text-color-disabled: #8a8887;
  --button-color: var(--dark-color);
  --button-color-disabled: var(--dark-color);

  --link-color: var(--text-color-secondary);
  --link-color-hover: #b84f00;
      
  --navbar-base-color: rgba(250, 249, 247, 1);

  --base-color-hover: #eae8e5;
  --base-color-secondary-hover: #e2dfdc;
  --dark-color-hover: #f5f4f3;
  --card-color-hover: #faf9f8;
  --button-color-hover: #e1781a;

  --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  --box-shadow-small: 0px 0px 6px rgba(0, 0, 0, 0.1);

  --code-bg-color: #f5f3f0;

  --table-head-color: #f0eeeb;
  --table-row-color: #fafafa;
  --table-row-color-secondary: #f5f4f3;
  --table-border-color: #dddcd9;

  --page-full-height: calc(100vh - calc(2rem + 0.9rem));
}

html,
body {
  max-width: 100%;
  font-size: clamp(12px, 1.2vw + 0.5rem, 16px);
}

body {
  color: var(--text-color);
  background: var(--base-color);
  font-family: var(--font-main);
  font-size: 1.3rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
    
}
h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 15px;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
}
small {
    font-size: 0.8rem;
}

blockquote {
    padding: 0px 30px;
    font-size: 1rem;
    font-weight: 275;
}
cite {
    display: block;
    text-align: right;
    padding: 0px 30px;
    padding-top: 5px;
}

ul {
    padding: 0px 15px;
}

a {
  color: var(--link-color);
}
a:hover {
    color: var(--link-color-hover);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  h2 {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  }

  :root {
    --base-color: #100e0c;
    --base-color-secondary: #131211;
    --dark-color: #050504;
    --dark-color-secondary: #0b0b0a;
    --card-color: #181311;
    --accent-color: #28a6f2;
    --accent-color-secondary: #176ebb;
    --text-color: #ededed;
    --text-color-secondary: #ff8121;
    --text-color-disabled: #8a8887;
    --button-color: var(--dark-color-secondary);
    --button-color-disabled: var(--dark-color);

    --link-color: var(--text-color-secondary);
    --link-color-hover: #e8711a;
        
    --navbar-base-color: rgba(20, 19, 17, 255);

    --base-color-hover: #151311;
    --base-color-secondary-hover: #1c1613;
    --dark-color-hover: #080807;
    --card-color-hover: #1c1613;
    --button-color-hover: #e1781a;

    --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    --box-shadow-small: 0px 0px 8px rgba(0, 0, 0,0.5);

    --code-bg-color: #080d09;

    --table-head-color: #0b0b08;
    --table-row-color: #131311;
    --table-row-color-secondary: #181815;
    --table-border-color: #1f1f1c;

    --page-full-height: calc(100vh - calc(2rem + 0.9rem));
  }
}
