.footer {
    background-color: var(--dark-color);
    padding: 20px;
}
.wrapper {
    margin: 20px auto;
    max-width: 95vw;
}

.creditsAndSocials {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.creditsAndSocials p {
    max-width: 30vw;
}

.socials {
    text-align: right;
}
.socials a {
    background-color: var(--base-color);
    aspect-ratio: 1/1;
    width: 4rem;
    margin-right: 15px;
    display: inline-block;
}
