.card {
    background-color: var(--base-color-secondary);
    padding: 20px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.thumbnail {
    background-color: var(--base-color);
    border-radius: 12px;
    aspect-ratio: 16/9;
    box-shadow: var(--box-shadow-small);
}

.info {
    padding: 20px 10px;
}
