.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.page {
    padding: 20px;
    min-height: 80vh;
}
.page h2 {
    text-align: center;
}
.page p {
    font-size: 1rem;
}
.page code {
    background-color: var(--code-bg-color);
    border-radius: 5px;
    padding: 1px 4px;
    font-size: 0.9rem;
}
