.latest {
    background-color: var(--card-color);
    border-radius: 12px;
    padding: 15px;
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-decoration: none;
}
.latest:hover {
    background-color: var(--card-color-hover);
}
.thumbnail {
    background-color: var(--dark-color);
    border-radius: 12px;
    box-shadow: var(--box-shadow-small);
    aspect-ratio: 16/9;
}
.info {
    color: var(--text-color);
}

.articleList {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
