.article {
    color: var(--text-color);
    border-radius: 12px;
    padding: 5px;
    text-decoration: none;
}
.article:hover {
    background-color: var(--base-color-hover);
    color: var(--text-color);
}

.thumbnail {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 12px;
    box-shadow: var(--box-shadow-small);
    overflow: hidden;
}
.thumbnail img {
    object-fit: cover;
    object-position: center;
}

.info {
    margin-top: 10px;
}
.info p {
    --max-lines: 4;
    --line-height: 1.1rem;

    font-size: 1.1rem;
    max-height: calc(var(--line-height) * var(--max-lines));
    overflow: hidden;
}
