.navbar {
  z-index: 10;
  background-color: var(--navbar-base-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5 1fr);
  gap: 0px;
  align-items: center;
}

.logo {
    aspect-ratio: 1/1;
    width: 2.2rem;
    margin-left: 15px;
}
.logo img {
  width: 100%;
  height: 100%;
  display: block;
}

.navbar a {
  background-color: var(--navbar-base-color);
  color: var(--text-color);
  padding: 0.9rem 10px;
  text-align: center;
  text-decoration: none;
}
.navbar a:hover {
    background-color: var(--button-color-hover);
    color: var(--text-color);
}
.navbar p {
    font-size: clamp(0.9rem, 2vw, 1.3rem);
    font-weight: 700;
    font-family: var(--font-title);
}

.test {
    position: relative;
}
.dropdown {
    background-color: var(--navbar-base-color);
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 1;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    outline: solid 1px var(--dark-color-secondary);
    border-radius: 0.5rem;
}
.dropdown a {
    margin: 0.25rem 0.5rem;
}
