.title {
    cursor: pointer;
}

.item {
    margin-left: 20px;
    margin-bottom: 8px;
}
.item a {
    color: var(--text-color);
    background-color: var(--base-color);
}

.collapsed {
    display: none;
}
