.sidenav {
    padding-right: 20px;
    min-width: 15vw;
    border-right: 1px solid #312321;
}
.sidenav h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.4rem;
    font-weight: 500;
}
.sidenav hr {
    margin-left: 15px;
}

.sidenav ul {
    list-style-type: none;
    margin-top: 8px;
}
