.navbar {
    padding-right: 20px;
    min-width: 15vw;
    max-width: 20vw;
}
.navbar h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar hr {
    margin-left: 15px;
}

.navbar ul {
    list-style-type: none;
    margin-top: 8px;
}
